<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width=600>
    <tr>
        <th>index</th>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>address</th>
    </tr>
                <tr bgcolor="red">
        <td>0</td>
        <td>1</td>
        <td>张三</td>
        <td>18</td>
        <td>北京</td>
        </tr>
            <tr bgcolor="yellow">
        <td>1</td>
        <td>2</td>
        <td>李四</td>
        <td>19</td>
        <td>上海</td>
        </tr>
            <tr bgcolor="red">
        <td>2</td>
        <td>3</td>
        <td>王五</td>
        <td>20</td>
        <td>广州</td>
        </tr>
</table>
</body>
</html>